<div class="container">
  <input type="checkbox" id="flip">
  <div class="cover">
    <div class="front">
      <!--Una bienvenida-->
      <div class="text">
        <span class="text-1"> <br> </span>
        <span class="text-2"></span>
      </div>
    </div>
    <div class="back">
     
      <div class="text">
        <span class="text-1"></span>
        <span class="text-2"></span>
      </div>
    </div>
  </div>
  <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">VENDEDOR</div>
        <form action="#">
          <div class="input-boxes">
            <div class="input-box">
              <i class='bx bxs-user-rectangle'></i>
              <input type="text" placeholder="NOMBRE COMPLETO" required>
            </div>
            <div class="input-box">
              <i class='bx bxs-business'></i>
              <input type="text" placeholder="NOMBRE DE VETERINARIA" required>
            </div>
            <div class="input-box">
              <i class='bx bxs-location-plus'></i>
              <input type="text" placeholder="CALLE" required>
              <input type="text" placeholder="COL" required>
              <input type="text" placeholder="LOCALIDAD" required>
            </div>
            <div class="input-box">
              <i class='bx bxl-gmail'></i>
              <input type="password" placeholder="CORREO" required>
            </div>
            <div class="input-box">
              <i class='bx bxs-phone-call'></i>
              <input type="password" placeholder="NUMERO DE TELEFONO" required>
            </div>
            <div class="input-box">
              <i class='bx bxs-lock'></i>
              <input type="password" placeholder="CONTRASEÑA" required>
            </div>
            <div class="input-box">
              <i class='bx bxs-lock-open'></i>
              <input type="password" placeholder="CONFIRMAR CONTRASEÑA" required>
            </div>
            
            <div class="button input-box">
              
              <input type="submit" value="REGISTRARME">
              <i class='bx bx-navigation'></i>
            </div>
            <div class="text sign-up-text"> <label for="flip">SOY COMPRADOR </label></div>
          </div>
      </form>
    </div>
      <div class="signup-form">
        <div class="title">COMPRADOR</div>
      <form action="#">
          <div class="input-boxes">
            <div class="input-box">
              <i class='bx bxs-user-rectangle'></i>
              <input type="text" placeholder="NOMBRE COMPLETO" required>
            </div>
            <div class="input-box">
              <i class='bx bxs-phone-call'></i>
              <input type="text" placeholder="TELEFONO" required>
            </div>
            <div class="input-box">
              <i class='bx bxl-gmail'></i>
              <input type="email" placeholder="CORREO" required>
            </div>
            <div class="input-box">
              <i class='bx bxs-location-plus'></i>
              <input type="text" placeholder="CALLE" required>
              <input type="text" placeholder="COLONIA" required>
              <input type="text" placeholder="NUMERO" required>
            </div>
            <div class="input-box">
              <i class='bx bx-world'></i>
              <input type="text" placeholder="MUNICIPIO" required>
              <input type="text" placeholder="ESTADO" required>
              <input type="text" placeholder="CODIGO POSTAL" required>
            </div>
            <div class="input-box">
              <i class='bx bxs-lock'></i>
              <input type="password" placeholder="CONTRASEÑA" required>
            </div>
            <div class="input-box">
              <i class='bx bxs-lock-open'></i>
              <input type="password" placeholder="CONFIRMAR CONTRASEÑA" required>
            </div>
            <div class="button input-box">
              <input type="submit" value="REGISTRARME">
            </div>
            <div class="text sign-up-text"><label for="flip">SOY VENDEDOR</label></div>
          </div>
    </form>
  </div>
  </div>
  </div>
</div>