<div class="box-body">
  <div class="row">
    <!-- Inicio input clave del producto -->
    <div class="col-md-2">
      <div class="form-group">
        <label>Clave del producto:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-barcode"></i>
          </div>
          <input type="text" class="form-control" maxlength="70" [(ngModel)]="datosProductos.codigoDeBarras" placeholder="565654"/>
        </div>
      </div>
    </div>
    <!-- Fin input clave del producto -->
    <!-- Inicio input Nombre del producto -->
    <div class="col-md-3">
      <div class="form-group">
        <label>Nombre del producto:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-inbox"></i>
          </div>
          <input [(ngModel)]="datosProductos.nombrePorducto" type="text" class="form-control" maxlength="70" placeholder="Nombre"/>
        </div>
      </div>
    </div>
    <!-- Fin input Nombre del producto -->
    <!-- Inicio input Marca -->
    <div class="col-md-3">
      <div class="form-group">
        <label>Marca</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-inbox"></i>
          </div>
          <input [(ngModel)]="datosProductos.nombrePorducto" type="text" class="form-control" maxlength="70" placeholder="Marca"/>
        </div>
      </div>
    </div>
    <!-- Fin input Marca -->
    <!-- Inicio input Nombre del producto -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Provedor:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </div>
          <select  [(ngModel)]="datosProductos.provedor" class="form-control select2" style="width: 100%">
            <option>Seleccione un proveedor</option>
            <option *ngFor="let productos of historialProvedores">{{productos.nombreProvedor}}</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Fin input Nombre del producto -->
    <!-- Inicio input Descripcion -->
    <div class="col-md-6">
      <div class="form-group">
        <label>Descripcion</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-inbox"></i>
          </div>
          <input [(ngModel)]="datosProductos.nombrePorducto" type="text" class="form-control" maxlength="70" placeholder="Descripcion"/>
        </div>
      </div>
    </div>
    <!-- Fin input Descripcion -->
  </div>
  
  <div class="row">
    
    <div class="col-md-6">
      <h3>Datos de venta</h3>
      <div class="form-group">
        <label>Forma de venta:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-transfer"></i>
          </div>
          <select (change)="cambios($event)" [(ngModel)]="datosProductos.formaDeventa" class="form-control select2" style="width: 100%">
            <option disabled selected>Seleccione una opción</option>
            <option>Pieza</option>
            <option>Unidad</option>
            <option>Ambos</option>
          </select>
        </div>
      </div>
      <div style="display: flex;">
      <div class="form-group" *ngIf="unitario">
        <label>Precio por unidad:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-usd"></i>
          </div>
          <input  [(ngModel)]="datosProductos.precioPorUnidad" type="text" class="form-control" maxlength="70" />
        </div>
      </div>
      <div class="form-group" *ngIf="pieza">
        <label>Precio por pieza:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-usd"></i>
          </div>
          <input  [(ngModel)]="datosProductos.precioPorPieza" type="text" class="form-control" maxlength="70" />
        </div>
      </div>
      </div>
      <div class="form-group">
      <label>Costo de compra:</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-usd"></i>
        </div>
        <input [(ngModel)]="datosProductos.costoDeCompra" type="number" class="form-control" maxlength="70" />
      </div>
      </div>
      <h3>Datos del lote</h3>
      <div class="form-group">
      <label>Numero de lote:</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-qrcode"></i>
        </div>
        <input  [(ngModel)]="datosLotes.numeroDeLote" type="text" class="form-control" maxlength="70" />
      </div>
      </div>
      <div style="display: flex;">
      <div class="form-group">
        <label>Fecha de caducidad:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </div>
          <input type="date" class="form-control" maxlength="70" [(ngModel)]="datosLotes.fechaDecaducidad">
        </div>
      </div>
      <div class="form-group">
        <label>Existencia:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-floppy-saved"></i>
          </div>
          <input [(ngModel)]="datosLotes.existencia" type="number" class="form-control" maxlength="70" />
        </div>
      </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-group">
            <a
              class="btn btn-block btn-success btn-sm fa fa-plus"
              style="margin: 3px"
              (click)="agregarProducto()"
              *ngIf="agregar"
            >
              Agregar
          </a>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- Fin input precio -->
    <div class="col-md-6">
      <h3>Productos</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="box box-info">
              <!--Tabla-->
              <div class="box-body">
                <div class="table-responsive">
                  <!--<table class="table no-margin" >
                    <thead style="text-align: center">
                      <tr style="text-align: center">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Provedor</th>
                        <th>Forma</th>
                        <th>Precio P/U</th>
                        <th>Precio P/P</th>
                        <th>Costo</th>
                        <th>Controles</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let productos of historialProductos">
                        <td >{{productos.codigoDeBarras}}</td>
                        <td>{{productos.nombrePorducto}}</td>
                        <td>{{productos.provedor}}</td>
                        <td>{{productos.formaDeventa}}</td>
                        <td>{{productos.precioPorUnidad}}</td>
                        <td>{{productos.precioPorPieza}}</td>
                        <td>{{productos.costoDeCompra}}</td>
                        <td>
                          <div style="display: flex">
                            <button
                              class="btn btn-danger btn-sm glyphicon glyphicon-remove"
                              style="margin: 3px"
                            ></button>
                            <br />
                            <button
                              class="btn btn-warning btn-sm glyphicon glyphicon-pencil"
                              style="margin: 3px"
                            ></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>-->
                  <table mat-table [dataSource]="dataSource" matSort class=" table no-margin">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="codigo">
                      <th mat-header-cell *matHeaderCellDef> Codigo </th>
                      <td mat-cell *matCellDef="let element"> {{element.codigoDeBarras}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef> Nombre </th>
                      <td mat-cell *matCellDef="let element"> {{element.nombrePorducto}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="provedor">
                      <th mat-header-cell *matHeaderCellDef> Provedor </th>
                      <td mat-cell *matCellDef="let element"> {{element.provedor}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="precioPU">
                      <th mat-header-cell *matHeaderCellDef> Precio P/P </th>
                      <td mat-cell *matCellDef="let element"> {{element.precioPorPieza}} </td>
                    </ng-container>

                    <ng-container matColumnDef="precioPP">
                      <th mat-header-cell *matHeaderCellDef> Precio P/U </th>
                      <td mat-cell *matCellDef="let element"> {{element.precioPorUnidad}} </td>
                    </ng-container>

                    <ng-container matColumnDef="costo">
                      <th mat-header-cell *matHeaderCellDef> Precio P/U </th>
                      <td mat-cell *matCellDef="let element"> {{element.existen}} </td>
                    </ng-container>

                    <ng-container matColumnDef="controles">
                      <th mat-header-cell *matHeaderCellDef> controles</th>
                      <td mat-cell *matCellDef="let element"> <div style="display: flex">
                        <a
                          class=""
                          style="margin: 3px; color: #EA0F2D;"
                          matTooltip="Borrar"
                          (click)="borrarProducto(element)"
                        ><mat-icon>delete</mat-icon></a>
                        <a
                        class=""
                          style="margin: 3px; color: #F2EF09;"
                          matTooltip="Editar"
                          (click)="borrarProducto(element)"
                        >
                          <mat-icon>edit</mat-icon>
                        </a>
                        <br />
                      </div> </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5]" [length]="historialProductos.length" aria-label="Select page"></mat-paginator>
                </div>
                <!-- Fin tabla -->
              </div>
              <!--Fin cuadro -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
  <div class="row">
    <!-- Inicio input numero de lote -->
    <div class="col-md-4">
      
    </div>
    <!-- Fin input numero de lote -->
    <!-- Inicio input fecha de caducidad -->
    <div class="col-md-4">
      
    </div>
    <!-- Fin input fecha de caducidad -->
    <!-- Inicio input Existencia -->
    <div class="col-md-4">
      
    </div>
    <!-- Fin input Existencia -->
  </div>
  <div class="row">
    <!-- Inicio Boton agregar -->
   
    <!-- Fin Boton agregar -->
  </div>
  <div class="row">
    
  </div>
</div>
