<div class="box-body">
  <div class="row">
    <!-- Inicio input clave del producto -->
    <div class="col-md-3">
      <div class="form-group">
        <label>Clave del producto:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-barcode"></i>
          </div>
          <input
          (keyup)="buscarP($event)"
            type="text"
            class="form-control"
            maxlength="70"
            [(ngModel)]="detalleVenta.claveproducto"
          />
        </div>
      </div>
    </div>
    <!-- Fin input clave del producto -->
    <!-- Inicio input Nombre del producto -->
    <div class="col-md-9">
      <div class="form-group">
        <label>Nombre del producto:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-inbox"></i>
          </div>
          <input
            type="text"
            class="form-control"
            maxlength="70"
            [(ngModel)]="detalleVenta.nombre"
            value="{{nombreDelProducto}}"
          />
        </div>
      </div>
    </div>
    <!-- Fin input Nombre del producto -->
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Datos del lote</h3>
      <div class="form-group">
        <label>Numero de lote:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-qrcode"></i>
          </div>
          <input
          (keyup)="buscarLotes($event)"
            type="text"
            class="form-control"
            maxlength="70"
            [(ngModel)]="detalleVenta.numeroDeLote"
          />
        </div>
      </div>

      <div class="form-group">
        <label>Existencia:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-upload"></i>
          </div>
          <input
            type="text"
            class="form-control"
            maxlength="70"
            [(ngModel)]="existencia"
            value="{{existencia}}"
          />
        </div>
      </div>

      <div class="form-group">
        <label>Fecha de caducidad:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </div>
          <input
            type="date"
            class="form-control"
            maxlength="70"
            [(ngModel)]="detalleVenta.fechaDecaducidad"
            value="{{detalleVenta.fechaDecaducidad}}"
          />
        </div>
      </div>

      <div class="form-group">
        <label>Precio:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-usd"></i>
          </div>
          <input
            type="number"
            class="form-control"
            maxlength="70"
            [(ngModel)]="detalleVenta.precio"
            value="{{detalleVenta.precio}}"
          />
        </div>
      </div>

      <div class="form-group">
        <label>Cantidad:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-usd"></i>
          </div>
          <input
            type="number"
            class="form-control"
            maxlength="70"
            [(ngModel)]="detalleVenta.cantidad"
          />
        </div>
      </div>

      <div class="form-group">
        <label>Forma de venta:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-transfer"></i>
          </div>
          <select (change)="cambios($event)" class="form-control select2" style="width: 100%">
            <option  disabled selected>Seleccione una opción</option>
            <option>Pieza</option>
            <option>Unidad</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <a
          class="btn btn-block btn-success btn-sm fa fa-plus"
          style="margin: 3px"
          (click)="agregarProductosAVenta()"
        >
          Agregar
      </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <a
          class="btn btn-block btn-primary btn-sm fa fa-plus"
          style="margin: 3px"
          (click)="agregarAVenta()"
        >
          Agregar venta
      </a>
      </div>
    </div>
    <div class="col-md-8">
      <h3>Productos</h3>
      <div class="form-group">
        <label>Total</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-usd"></i>
          </div>
          <input
            type="number"
            class="form-control"
            maxlength="70"
            value="{{ total }}"
            [(ngModel)]="detalleVenta.total"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="box box-info">
              <!--Tabla-->
              <div class="box-body">
                <div class="table-responsive">
                  <!--<table class="table no-margin">
                    <thead style="text-align: center">
                      <tr style="text-align: center">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Lote</th>
                        <th>Fecha de caducidad</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Controles</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>54622165</td>
                        <td>Wiskas</td>
                        <td><span class="">158200</span></td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#00a65a"
                            data-height="20"
                          >
                            03/10/2022
                          </div>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#00a65a"
                            data-height="20"
                          >
                            $211.00
                          </div>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#00a65a"
                            data-height="20"
                          >
                            1
                          </div>
                        </td>
                        <td>
                            <button
                              class="btn btn-danger btn-sm glyphicon glyphicon-remove"
                              style="margin: 3px"
                            ></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>-->
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    matSort
                    class="table no-margin"
                  >
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="barra">
                      <th mat-header-cell *matHeaderCellDef>C. Barra</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.claveproducto }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef>Nombre</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.nombre }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="lote">
                      <th mat-header-cell *matHeaderCellDef>Lote</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.numeroDeLote }}
                      </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef>Fecha</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.fechaDecaducidad }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="precio">
                      <th mat-header-cell *matHeaderCellDef>Total</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.precio }}
                      </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="cantidad">
                      <th mat-header-cell *matHeaderCellDef>Existencia</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.cantidad }}
                      </td> </ng-container
                    >

                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef>Lote</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.total }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="controles">
                      <th mat-header-cell *matHeaderCellDef>Controles</th>
                      <td mat-cell *matCellDef="let element">
                        <div style="display: flex">
                          <a
                            class="btn btn-danger btn-sm glyphicon glyphicon-remove"
                            style="margin: 3px"
                            (click)="eliminar(element.claveproducto +  '-' +element.numeroDeLote , element)"
                          ></a>
                        </div>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>
                  <mat-paginator
                    [pageSizeOptions]="[5]"
                    [length]="historialProductos.length"
                    aria-label="Select page"
                  ></mat-paginator>
                </div>
                <!-- Fin tabla -->
              </div>
              <!--Fin cuadro -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    
  </div>
  <div class="row"></div>
</div>
