<section class="content">
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <div class="col-md-12">
      <div class="box box-info">
        <!--Tabla-->
        <div class="box-body">
          <h1>Productos</h1>
          <div class="table-responsive">
            <!--<table class="table no-margin">
              <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Lote</th>
                <th>Fecha</th>
                <th>Existencia</th>
                <th>Precio</th>
                <th>Controles</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>54622165</td>
                <td>Wiskas</td>
                <td><span class="">158200</span></td>
                <td>
                  <div class="sparkbar" data-color="#00a65a" data-height="20">03/10/2022</div>
                </td>
                <td>25</td>
                <td>$200</td>
                <td> 
                  <div style="display: flex">
                    <button
                      class="btn btn-danger glyphicon glyphicon-remove"
                      style="margin: 3px"
                    ></button>
                    <br />
                    <button
                      class="btn btn-warning glyphicon glyphicon-pencil"
                      style="margin: 3px"
                    ></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>54622165</td>
                <td>Wiskas</td>
                <td><span class="">158200</span></td>
                <td>
                  <div class="sparkbar" data-color="#00a65a" data-height="20">03/10/2022</div>
                </td>
                <td>25</td>
                <td>$200</td>
                <td> 
                  <div style="display: flex">
                    <button
                      class="btn btn-danger glyphicon glyphicon-remove"
                      style="margin: 3px"
                    ></button>
                    <br />
                    <button
                      class="btn btn-warning glyphicon glyphicon-pencil"
                      style="margin: 3px"
                    ></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>54622165</td>
                <td>Wiskas</td>
                <td><span class="">158200</span></td>
                <td>
                  <div class="sparkbar" data-color="#00a65a" data-height="20">03/10/2022</div>
                </td>
                <td>25</td>
                <td>$200</td>
                <td> 
                  <div style="display: flex">
                    <button
                      class="btn btn-danger glyphicon glyphicon-remove"
                      style="margin: 3px"
                    ></button>
                    <br />
                    <button
                      class="btn btn-warning glyphicon glyphicon-pencil"
                      style="margin: 3px"
                    ></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>54622165</td>
                <td>Wiskas</td>
                <td><span class="">158200</span></td>
                <td>
                  <div class="sparkbar" data-color="#00a65a" data-height="20">03/10/2022</div>
                </td>
                <td>25</td>
                <td>$200</td>
                <td> 
                  <div style="display: flex">
                    <button
                      class="btn btn-danger glyphicon glyphicon-remove"
                      style="margin: 3px"
                    ></button>
                    <br />
                    <button
                      class="btn btn-warning glyphicon glyphicon-pencil"
                      style="margin: 3px"
                    ></button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>-->
            <div>
              <mat-form-field appearance="standard">
                <mat-label>Introduce un dato</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="Nombre del producto"
                  #input
                />
              </mat-form-field>
              <div>
                <table
                  mat-table
                  [dataSource]="dataSource"
                  matSort
                  class="table no-margin"
                >
                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef>Codigo</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.codigoDeBarras }}
                    </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.nombrePorducto }}
                    </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="provedor">
                    <th mat-header-cell *matHeaderCellDef>Provedor</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.provedor }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="precioPU">
                    <th mat-header-cell *matHeaderCellDef>Precio P/U</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.precioPorUnidad }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="precioPP">
                    <th mat-header-cell *matHeaderCellDef>Precio P/U</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.precioPorUnidad }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="costo">
                    <th mat-header-cell *matHeaderCellDef>Precio P/U</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.precioPorUnidad }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="controles">
                    <th mat-header-cell *matHeaderCellDef>controles</th>
                    <td mat-cell *matCellDef="let element">
                      <div style="display: flex">
                        <button
                          class="btn btn-danger btn-sm glyphicon glyphicon-remove"
                          style="margin: 3px"
                        ></button>
                        <br />
                        <button
                          class="btn btn-warning btn-sm glyphicon glyphicon-pencil"
                          style="margin: 3px"
                        ></button>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>
                <mat-paginator
                  [pageSizeOptions]="[5]"
                  [length]="historialProductos.length"
                  aria-label="Select page"
                ></mat-paginator>
              </div>
            </div>
          </div>
          <!-- Fin tabla -->
        </div>

        <!--Fin cuadro -->
      </div>

      <!-- Fin -->
    </div>
    <!-- Fin -->
  </div>
  <!-- Fin -->
</section>
