
@import "~@angular/material/prebuilt-themes/Indigo-pink.css";


.content-wrapper{
  height: 100%;
}

html{
  height: 100%;
}

.content{
  align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tarjeta{
  width: 60%;
  height: 85%;
  top: -500%;
  color: #fff;
  position: fixed;
  margin: 0 auto;
  backdrop-filter: brightness(50%);
  z-index: 100;
  border: 6px solid #695CFE;
  border-radius: 10px;
  right: 13%;
  transition: 0.8s;
}
.tarjeta_de_CarritoCompras{
  width: 50%;
  height: 500px;
  top: 10%;
  position: fixed;
  margin: 0 auto;
  backdrop-filter: brightness(30%);
  z-index: 100;
  border: 6px solid #ff0000;
  border-radius: 10px;
  right: 13%;
  transition: 0.8s;
}

.star{
  width: 60%;
  height: 85%;
  top: 10%;
  color: #fff;
  position: fixed;
  margin: 0 auto;
  backdrop-filter: brightness(50%);
  z-index: 100;
  border: 6px solid #695CFE;
  border-radius: 10px;
  right: 13%;
  transition: 0.8s;
}

.content{
  text-align: center;
}