@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url(./app/dist/css/AdminLTE.min.css);
@import url(./app/bootstrap/css/bootstrap.min.css);
@import url(./app/dist/css/skins/_all-skins.min.css);
@import "~@angular/material/prebuilt-themes/Indigo-pink.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,
body {
min-height: 100%;
}
.layout-boxed html,
.layout-boxed body {
height: 100%;
}
body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: 400;
overflow-x: hidden;
overflow-y: auto;
}
:root{
  
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

 
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}


body{
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
  background: linear-gradient(135deg, #FFF, #DDD, #707070);
}

body.dark{
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

html,
body {
  min-height: 100%;
}
.layout-boxed html,
.layout-boxed body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

.tarjeta{
  width: 60%;
  height: 85%;
  top: -500%;
  color: #fff;
  position: fixed;
  margin: 0 auto;
  backdrop-filter: brightness(50%);
  z-index: 100;
  border: 6px solid #695CFE;
  border-radius: 10px;
  right: 13%;
  transition: 0.8s;
}
.tarjeta_de_CarritoCompras{
  width: 50%;
  height: 500px;
  top: 10%;
  position: fixed;
  margin: 0 auto;
  backdrop-filter: brightness(30%);
  z-index: 100;
  border: 6px solid #ff0000;
  border-radius: 10px;
  right: 13%;
  transition: 0.8s;
}

.star{
  width: 60%;
  height: 85%;
  top: 10%;
  color: #fff;
  position: fixed;
  margin: 0 auto;
  backdrop-filter: brightness(50%);
  z-index: 100;
  border: 6px solid #695CFE;
  border-radius: 10px;
  right: 13%;
  transition: 0.8s;
}

.content{
  text-align: center;
}